@model Lab2.ViewModel.PokojViewModel 
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Pokoj</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vmNazwa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vmNazwa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vmOpis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vmOpis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vmCenaZaNocleg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vmCenaZaNocleg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vmIloscLozek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vmIloscLozek)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.vmId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
